# Configuração de URLs para ServeRest
BASE_URL=https://front.serverest.dev
API_URL=https://serverest.dev

# Senha padrão para novos cadastros gerados nos testes
TEST_USER_PASSWORD=Teste@123456

# Credenciais de Usuário Padrão Pré-existente
USER_EMAIL=usuario_teste@qa.com
USER_PASSWORD=senha_secreta_usuario

# Credenciais de Administrador Pré-existente
ADMIN_EMAIL=admin_teste@qa.com
ADMIN_PASSWORD=senha_secreta_admin

# Ambiente de execução (dev, qa, acpt, prod)
TEST_ENV=dev
